/* Global styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Pridi', sans-serif;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #4CAF50;
    background-color: #f1f1f1;
    padding: 10px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

#startButton {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 4vw; /* Use viewport width for flexible sizing */
}

/* Dot styling for desktop */
#dot {
    width: 4vw; /* Smaller size using viewport width for desktops */
    height: 4vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: none;
}

/* Media query for smaller devices (phones) */
@media (max-width: 768px) {
    #dot {
        width: 6vw; /* Slightly larger dot for mobile screens */
        height: 6vw;
    }
}

@media (max-width: 480px) {
    #dot {
        width: 8vw; /* Slightly larger on smaller phones */
        height: 8vw;
    }
}
