/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Pridi', sans-serif;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #4CAF50;
    background-color: #f1f1f1;
    padding: 10px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

#startButton {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 4vw; 
}

#dot {
    width: 8vw; 
    height: 8vw;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    display: none;
}

#instructions, #leaderboard {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 90%; 
    max-width: 400px;
}

#leaderboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 6vw; 
    }

    #startButton {
        padding: 15px;
        font-size: 6vw; 
    }

    #dot {
        width: 12vw; 
        height: 12vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 8vw; 
    }

    #startButton {
        padding: 10px;
        font-size: 8vw; 
    }

    #dot {
        width: 16vw; 
        height: 16vw;
    }

    #instructions, #leaderboard {
        width: 95%; 
    }
}
