@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

/*----Universal text styling -----*/
* {
    color: black;
    text-shadow: 1px 1px 2px white;
    font-family: 'Pridi', serif;
}

/*--- Header --- */
h1 {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid white;
    z-index: 1000;
    margin: 0;
    font-size: 3rem;
}

body {
    background-image: url("../images/blackdesign.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/*-- Centerbox middle of screen -- */
#centerBox {
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.73);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    position: relative;
    padding-top: 60px;
}

/*--- Game ----*/
#box {
    width: 60px;
    height: 60px;
    background-color: blue;
    display: none;
    position: absolute;
}

/*--- Rules section --- */
#rules {
    background-color: white;
    border-radius: 25px;
}

